<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="me.xiaoyuu.course_helper.dao.CourseTeacherMapper">
    <resultMap id="BaseResultMap" type="me.xiaoyuu.course_helper.model.CourseTeacher">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="course_code" jdbcType="VARCHAR" property="courseCode"/>
        <result column="teacher_name" jdbcType="VARCHAR" property="teacherName"/>
        <result column="all_count" jdbcType="INTEGER" property="allCount"/>
        <result column="no_pass_count" jdbcType="INTEGER" property="noPassCount"/>
        <result column="average_grade" jdbcType="VARCHAR" property="averageGrade"/>
    </resultMap>

    <select id="getListByCourseCode" resultMap="BaseResultMap">
        select id, course_code, teacher_name, all_count, no_pass_count, average_grade
        from course_teacher
        where course_code = #{courseCode}
    </select>

</mapper>