<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="me.xiaoyuu.course_helper.dao.GradeInfoMapper">
    <resultMap id="BaseResultMap" type="me.xiaoyuu.course_helper.model.GradeInfo">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="student_id" jdbcType="VARCHAR" property="studentId"/>
        <result column="course_name" jdbcType="VARCHAR" property="courseName"/>
        <result column="course_type_name" jdbcType="VARCHAR" property="courseTypeName"/>
        <result column="test_type" jdbcType="VARCHAR" property="testType"/>
        <result column="course_type" jdbcType="VARCHAR" property="courseType"/>
        <result column="grade" jdbcType="VARCHAR" property="grade"/>
        <result column="course_hour" jdbcType="INTEGER" property="courseHour"/>
        <result column="course_credit" jdbcType="VARCHAR" property="courseCredit"/>
        <result column="jd" jdbcType="INTEGER" property="jd"/>
        <result column="xq" jdbcType="VARCHAR" property="xq"/>
        <result column="cjbsmc" jdbcType="VARCHAR" property="cjbsmc"/>
    </resultMap>
</mapper>