<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="me.xiaoyuu.course_helper.dao.GradeMapper">
    <resultMap id="BaseResultMap" type="me.xiaoyuu.course_helper.model.Grade">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="student_id" jdbcType="VARCHAR" property="studentId"/>
        <result column="course_code" jdbcType="VARCHAR" property="courseCode"/>
        <result column="grade" jdbcType="VARCHAR" property="grade"/>
        <result column="grade_point" jdbcType="VARCHAR" property="gradePoint"/>
        <result column="grade_type_name" jdbcType="VARCHAR" property="gradeTypeName"/>
        <result column="teacher_name" jdbcType="VARCHAR" property="teacherName"/>
    </resultMap>

    <insert id="insertWithIgnore" parameterType="me.xiaoyuu.course_helper.model.Grade">
        insert ignore into grade (student_id, course_code, grade, grade_point, grade_type_name, teacher_name)
        VALUES (#{grade.studentId}, #{grade.courseCode}, #{grade.grade}, #{grade.gradePoint}, #{grade.gradeTypeName},
                #{grade.teacherName})
    </insert>

    <select id="selectTeacherInfoByCourseCode" parameterType="java.lang.String"
            resultType="me.xiaoyuu.course_helper.dto.TeacherInfoDTO">
        select teacher_name teacherName, sum(grade) / count(grade) average
        from grade
        where course_code = #{courseCode}
          and grade >= 60
        group by teacher_name
        order by average desc
    </select>

    <select id="selectByStudentId" parameterType="java.lang.String" resultMap="BaseResultMap">
        select id, student_id, course_code, grade, grade_point, grade_type_name, teacher_name
        from grade
        where student_id = #{studentId}
        order by course_code
    </select>
</mapper>