<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="me.xiaoyuu.course_helper.dao.LikeInfoMapper">
    <resultMap id="BaseResultMap" type="me.xiaoyuu.course_helper.model.LikeInfo">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="owner_id" jdbcType="INTEGER" property="ownerId"/>
        <result column="user_id" jdbcType="INTEGER" property="userId"/>
        <result column="type" jdbcType="INTEGER" property="type"/>
    </resultMap>

    <select id="getLikedCount" parameterType="java.lang.Integer" resultType="java.lang.Integer">
        select count(id)
        from like_info
        where owner_id = #{id}
    </select>

    <select id="selectByUserIdAndOwnerId"
            resultMap="BaseResultMap">
        select id, owner_id, user_id
        from like_info
        where owner_id = #{ownerId}
          and user_id = #{userId}
    </select>
</mapper>