<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="me.xiaoyuu.course_helper.dao.RawCourseInfoMapper">
    <resultMap id="BaseResultMap" type="me.xiaoyuu.course_helper.model.RawCourseInfo">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="course_code" jdbcType="VARCHAR" property="courseCode"/>
        <id column="teacher_name" jdbcType="VARCHAR" property="teacherName"/>
        <result column="unit_name" jdbcType="VARCHAR" property="unitName"/>
        <result column="course_type_name" jdbcType="VARCHAR" property="courseTypeName"/>
        <result column="course_type" jdbcType="VARCHAR" property="courseType"/>
        <result column="course_type_code" jdbcType="VARCHAR" property="courseTypeCode"/>
        <result column="szkcfl" jdbcType="VARCHAR" property="szkcfl"/>
        <result column="course_hour" jdbcType="INTEGER" property="courseHour"/>
        <result column="kcsx" jdbcType="VARCHAR" property="kcsx"/>
        <result column="course_name" jdbcType="VARCHAR" property="courseName"/>
        <result column="course_credit" jdbcType="VARCHAR" property="courseCredit"/>
    </resultMap>

    <insert id="insertWithIgnore" parameterType="me.xiaoyuu.course_helper.model.RawCourseInfo">
        insert ignore into raw_course_info(unit_name, course_type_name, course_type, teacher_name, course_type_code,
                                           szkcfl, course_code, course_hour, kcsx, course_name, course_credit)
        VALUES (#{RawCourseInfo.unitName}, #{RawCourseInfo.courseTypeName}, #{RawCourseInfo.courseType},
                #{RawCourseInfo.teacherName}, #{RawCourseInfo.courseTypeCode}, #{RawCourseInfo.szkcfl},
                #{RawCourseInfo.courseCode}, #{RawCourseInfo.courseHour}, #{RawCourseInfo.kcsx},
                #{RawCourseInfo.courseName}, #{RawCourseInfo.courseCredit})
    </insert>
</mapper>