<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="me.xiaoyuu.course_helper.dao.StudentInfoMapper">
    <resultMap id="BaseResultMap" type="me.xiaoyuu.course_helper.model.StudentInfo">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="student_id" jdbcType="VARCHAR" property="studentId"/>
        <result column="student_name" jdbcType="VARCHAR" property="studentName"/>
        <result column="major_code" jdbcType="VARCHAR" property="majorCode"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
    </resultMap>

    <select id="selectByGrade" parameterType="java.lang.String" resultMap="BaseResultMap">
        select id, student_id, student_name, major_code, create_time, update_time
        from student_info
        where student_id like concat(${grade}, '%')
    </select>
</mapper>